$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;
$black: black;

html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

.tarot-cards {
  height: 30rem;
  margin-top: 5rem;

  .icons {
    font-size: 10rem;
  }

  .title {
    font-size: 2.5rem;
  }
}
